@use "sass:color";
@use "sass:map";

$shopifyColors: (
    "foreground": rgb(var(--color-foreground)),
    "background": rgb(var(--color-background)),
    "button": rgb(var(--color-button)),
    "button-text": rgb(var(--color-button-text)),
    "gradient-background": rgb(var(--gradient-background)),
);

$primaryColors: (
    "dust": #F3EFE5,
    "mist": #81A4A5,
    "sea": #215359,
    "storm": #60747A,
    "sun": #D9893B,
    "black": #201F21,
    "white": #FFFFFF,
);

$primaryVariants: (
    // "mist25": color.adjust(map.get($primaryColors, "mist"), $alpha: -1 + 0.25),
    "mist25": #DFE8E8,
    // "mist50": color.adjust(map.get($primaryColors, "mist"), $alpha: -1 + 0.50),
    "mist50": #C0D1D2,
    "mist80": color.adjust(map.get($primaryColors, "mist"), $alpha: -1 + 0.80),
    // "sea85": color.adjust(map.get($primaryColors, "sea"), $alpha: -1 + 0.85),
    "sea85": #426D72,
    "dust50": #F9F7F2,
    "dust85": color.adjust(map.get($primaryColors, "dust"), $alpha: -1 + 0.85),
);

$secondaryColors: (
    "lavendar": #BCAAA2,
    "shadow": #39413D,
    "sand": #E6D5BA,
    "peach": #F8CFA8,
    "pink": #F9B9A1,
    "coral": #EB7F55,
);

$grays: (
    "gray1": #f2f2f2,
    "gray2": #e8e8e8,
    "gray3": #dddddd,
    "gray4": #cccccc,
    "gray5": #b3b3b3,
    "gray6": #999999,
    "gray7": #7a7a7a,
    "gray8": #545454,
    "gray9": #444,
);

$colors: map-collect($shopifyColors, $primaryColors, $primaryVariants, $secondaryColors, $grays);

// .bg-sea, .color-sea, etc
@each $name,
$hex in $colors {
    .bg-#{$name} {
        background-color: $hex;
    }

    .color-#{$name} {
        color: $hex;
    }
}