.carousel {
    position: relative;
    width: 100vw;
    height: 400px;

    & ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    & button {
        position: absolute;
        background: none;
        border: none;
        font-size: 4rem;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-radius: 0.25rem;
        padding: 0 0.5rem;
        background-color: rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus {
            color: white;
            background-color: rgba(0, 0, 0, .2);
        }

        &:focus {
            outline: 1px solid black;
        }

        &[data-offset="-1"] {
            left: 1rem;
        }

        &[data-offset="1"] {
            right: 1rem;
        }
    }
}


.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

    &[data-active] {
        opacity: 1;
        transition: 200ms opacity ease-in-out;
        z-index: 1;
    }

    & article {
        height: 100%;
    }
}