@use "sass:color";

.carousel-cell {
    max-height: 800px;
    width: 100%;
    padding: 2.4rem;
    margin: 0 1.2rem;
    border-radius: 8px;
}

.main-carousel .carousel-cell {
    background-color: color.scale(#F5F5F5, $blackness: 4%);
}


@include breakpoint(sm) {
    .carousel-cell {
        margin: 0 2.4rem;
        width: 80%;
        padding: 3.2rem;
    }
}

@include breakpoint(lg) {
    .carousel-cell {
        width: 60%;
    }
}

.main-carousel,
.featured-carousel {
    box-shadow: none;
}

/* enable Flickity by default */
.featured-carousel:after {
    content: 'flickity';
    display: none;
}

@include breakpoint(xl) {
    .featured-carousel:after {
        content: ''
    }

    .featured-carousel .carousel-cell {
        width: 100%;
        margin: 0;
    }
}

.featured-carousel .flickity-button {
    background: transparent;
    color: rgb(var(--color-foreground));
    opacity: .25;

    &:focus {
        box-shadow: none;
    }
}

@include breakpoint(lg, down) {
    .main-carousel {
        .flickity-button {
            background: transparent;
            color: rgb(var(--color-foreground));
            opacity: .25;

            &:focus {
                box-shadow: none;
            }
        }

        .flickity-prev-next-button {
            transition: 300ms ease-in-out;
            width: 30px;
            height: 30px;

            &:hover,
            &:focus {
                width: 40px;
                height: 40px;
                opacity: .8;
                background: linear-gradient(to right, rgb(25, 25, 25, .05), rgb(25, 25, 25, .25));

                &.next {
                    right: 6px;
                }

                &.previous {
                    left: 6px;
                }
            }

            @include breakpoint(sm, down) {
                &.next {
                    right: -4px;
                }

                &.previous {
                    left: -4px;
                }
            }

            @include breakpoint(md) {
                &.next {
                    right: 24px;
                }

                &.previous {
                    left: 24px;
                }
            }

        }
    }
}

@include breakpoint(xl) {
    .main-carousel {
        .flickity-prev-next-button {
            &.next {
                right: 20px;
            }

            &.previous {
                left: 20px;
            }
        }
    }
}

@include breakpoint(lg) {

    .featured-carousel .flickity-button {
        opacity: .5;
    }
}

.featured-carousel {
    .flickity-prev-next-button {
        transition: 300ms ease-in-out;
        width: 30px;
        height: 30px;

        &:hover,
        &:focus {
            width: 40px;
            height: 40px;
            opacity: .8;
            background: linear-gradient(to right, rgb(25, 25, 25, .05), rgb(25, 25, 25, .25));

            &.next {
                right: 6px;
            }

            &.previous {
                left: 6px;
            }
        }

        @include breakpoint(sm, down) {
            &.next {
                right: -4px;
            }

            &.previous {
                left: -4px;
            }
        }

        @include breakpoint(md) {
            &.next {
                right: 24px;
            }

            &.previous {
                left: 24px;
            }
        }

    }
}