@use "sass:color";

.carousel-cell {
    max-height: 800px;
    width: 100%;
    padding: 2.4rem;
    margin: 0 1.2rem;
    border-radius: 8px;
}

.main-carousel .carousel-cell {
    background-color: rgb(250, 250, 250);
}


@include breakpoint(sm) {
    .carousel-cell {
        margin: 0 2.4rem;
        width: 80%;
        padding: 3.2rem;
    }
}

@include breakpoint(lg) {
    .carousel-cell {
        width: 60%;
    }
}

.main-carousel,
.featured-carousel {
    box-shadow: none;
}

/* enable Flickity by default */
.featured-carousel:after {
    content: 'flickity';
    display: none;
}

@include breakpoint(xl) {
    .featured-carousel:after {
        content: ''
    }

    .featured-carousel .carousel-cell {
        width: 100%;
        margin: 0;
    }
}

.flickity-button {
    background: transparent;
    color: rgb(var(--color-foreground));
    opacity: .25;

    &:focus {
        box-shadow: none;
    }
}

.flickity-prev-next-button {
    transition: 300ms ease-in-out;
    width: 30px;
    height: 30px;

    &:hover,
    &:focus {
        width: 40px;
        height: 40px;
        opacity: .8;
        background: linear-gradient(to right, rgb(25, 25, 25, .05), rgb(25, 25, 25, .25));

        &.next {
            right: 6px;
        }

        &.previous {
            left: 6px;
        }
    }

    &.next {
        right: -4px;
    }

    &.previous {
        left: -4px;
    }
}