.featured-collection-item {
    border: 1px solid color("gray3");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.featured-collection-item-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-collection-item__image {
    width: 100%;
}