.meet-pico-section{
    padding-left: unset;
    padding-right: unset;
}
.content-container {
    max-width: 400px;
    margin: 0 auto;
   
    .mobile-text{
        display: none;
    }
    @include breakpoint(md, down){
        .image-container img{
            padding: 1rem;
        }
        .mobile-text{
            display: block;
        }
        .cta-link{
            margin-top: 4rem;
        }
    }



}
@include breakpoint(md, down){
    .image-container{
        margin: 2rem 2rem;
    }
}
