@use "sass:map";

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1rem;
    font-family: $fontFamilySecondary;
    font-weight: $fontWeightMedium;
    line-height: 1.25em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
}

.btn-large {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 1rem;
    border: 1px solid transparent;
    border-radius: 1.2rem !important;
    font-size: 2.2rem !important;
    font-family: $fontFamilySecondary;
    font-weight: $fontWeightBold;
    line-height: 1.25em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    text-transform: unset !important;
}

.btn:disabled,
.btn.disabled,
.btn.is-disabled {
    cursor: not-allowed !important;
    opacity: 0.65;
    border: none;
    box-shadow: none;
}

// .btn-sea, .btn-outline-sea, etc

@each $name,
$color in $primaryColors {
    .btn-#{$name} {
        color: #fff;
        background-color: $color;
        // border-color: darken($color, 20%);

        &:hover,
        &:focus,
        &.focus,
        &:active {
            color: #fff;
            background-color: darken($color, 5%);
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba($color, 0.25);
        }

        &.disabled,
        &[disabled],
        fieldset[disabled] & {

            &:hover,
            &:focus,
            &.focus {
                background-color: $color;
                border-color: $color;
            }
        }
    }

    .btn-outline-#{$name} {
        color: $color;
        background-color: transparent;
        border: 1px solid $color;

        &:hover,
        &:focus,
        &.focus,
        &:active {
            color: #fff;
            background-color: $color;
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba($color, 0.25);
        }

        &.disabled,
        &[disabled],
        fieldset[disabled] & {

            &:hover,
            &:focus,
            &.focus {
                background-color: #fff;
                // border: 1px solid $color;
            }
        }
    }
}

/* sizing */
.btn-sm {
    height: 32px;
    padding: 0 0.75rem;
    font-size: 0.75rem;
    font-weight: $fontWeightSemibold;
    text-transform: uppercase;

    &.btn-round {
        border-radius: 1rem;
    }
}

.btn-xs {
    height: 24px;
    padding: 0 0.375rem;
    font-size: 0.75rem;
    text-transform: uppercase;

    &.btn-round {
        border-radius: 0.75rem;
    }
}

.btn-lg {
    // padding: 0 1.25rem;
    // font-size: 1.25rem;
    height: 4rem;
    font-size: $fontSize18;
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &.btn-round {
        border-radius: 2rem;
    }
}

/* block */
.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 1rem;
}